<div class="content">
	<div class="container-reset-password-form">
		<form [formGroup]="resetPasswordForm">
			<h2>Réinitialiser le mot de passe</h2>

			<div class="wrapper-reset-password-form">
				<div class="row password-input">
					<mat-form-field appearance="outline">
						<mat-label>Nouveau mot de passe</mat-label>
						<input matInput [type]="firstHiddenInput ? 'password' : 'text'" formControlName="newPassword">
						<button mat-icon-button matSuffix (click)="firstHiddenInput = !firstHiddenInput"
							class="visibility-btn">
							<mat-icon>{{firstHiddenInput ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
					</mat-form-field>
				</div>
				<div class="row password-input">
					<mat-form-field appearance="outline">
						<mat-label>Confirmation du mot de passe</mat-label>
						<input matInput [type]="secondHiddenInput ? 'password' : 'text'"
							formControlName="confirmNewPassword">
						<button mat-icon-button matSuffix (click)="secondHiddenInput = !secondHiddenInput"
							class="visibility-btn">
							<mat-icon>{{secondHiddenInput ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
					</mat-form-field>
				</div>
				@if(errorMessage != "") {
				<p class="error-message">{{errorMessage}}</p>
				}
			</div>

			<div class="btn-container">
				<button class="custom-btn" (click)="onSubmit()">Réinitialiser mon mot de passe</button>
			</div>
		</form>
	</div>
</div>