<div class="content">
	<div class="verif-mail-container">
		<div class="group">
			<img alt="waiting-time" width="56px" height="56px" src="/assets/pictos/waiting-time.svg" />
			
			<div class="texts-container">
				<p class="register-thanks">Merci pour votre inscription</p>
				<h2 class="verify-mail">Vérifiez votre adresse mail</h2>
				<p class="confirm-mail">Veuillez confirmer votre email en cliquant sur le lien que nous vous avons envoyé</p>
			</div>
			
			<div class="btn-container">
				<button class="custom-btn" routerLink="/login">Se connecter</button>
				<a class="new-mail" (click)="sendNewMail()">Envoyer un nouveau mail</a>
			</div>
		</div>
	</div>
</div>