{% extends 'base.html.twig' %}

{% block title %}Condition generale d'utilisation{% endblock %}

{% block body %}
    <div class="main">

        <!--page header section start-->
        <section class="page-header-section ptb-100 gradient-overly-right" style="background: url('{{ asset('assets/img/hero-13.jpg') }}')no-repeat center center / cover">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-6">
                        <div class="page-header-content text-white">
                            <h1 class="text-white mb-2">Conditions d'utilisation</h1>
                            <p class="lead">
                                Retrouvez toutes les conditions d'utilisation de Osmose-Dialyse
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="cgu" class="ptb-100 ">
            <div class="container">
                <div class="row">
                    <div>
                        <p>
                            <strong>
                                CONDITIONS GENERALES D’UTILISATION DES SERVICES OSMOSE-DIALYSE
                            </strong>
                        </p>

                        <p>
                            Dernière mise à jour : Octobre 2024
                        </p>
                        <p>
                            Les présentes Conditions Générales d’Utilisation (ci-après les « CGU ») ont pour
                            objet de définir les conditions dans lesquelles les Utilisateurs peuvent accéder et utiliser les
                            services proposés par DIALYZONE via la Plateforme.
                        </p>
                        <p>
                            DIALYZONE est le nom commercial attaché à la holding SAS ENOR,
                            au capital de 10.000 EUROS, immatriculée au Registre du Commerce et des Sociétés
                            d'Evry sous le numéro 952 107 472, dont le siège social est situé au 10 avenue de Provence - 91940 Les Ulis.
                            – Tél : 06 82 09 79 21 – Email : contact@dialyzone.com.
                        </p>
                        <p>Les termes accompagnés d’une majuscule utilisés dans la présente CGU sont définis
                            <a href="" target="_blank">
                                ici
                            </a>
                        </p>
                        <p>
                            <strong>1. MENTIONS LEGALES</strong>
                        </p>
                        <p>
                            Les Services proposés par DIALYZONE sont accessibles à l’adresse URL :
                        </p>
                        <ul>
                            <li>
                                <a href="https://www.dialyzone.com" title="site internet dialyzone" target="_blank">
                                    https://www.dialyzone.com
                                </a>
                            </li>
                        </ul>
                        <p>
                            Editeur du service DIALYZONE : ENOR, SAS
                            au capital de 10.000 EUROS, immatriculée au Registre du Commerce et des Sociétés
                            d'Evry sous le numéro 952 107 472, dont le siège social est situé au 10 avenue de Provence - 91940 Les Ulis.
                            – Tél : 06 82 09 79 21 – Email : contact@dialyzone.com.
                        </p>
                        <ul>
                            <li>
                                Pour toute demande support, accompagnement pour utiliser la solution : n’hésitez pas à consulter la
                                <a href="{{ path('faq') }}" target="_blank">
                                    FAQ
                                </a> ou envoyer votre demande à
                                <a href="mailto:conatct@dialyzone.com" target="_blank">
                                    contact@dialyzone.com
                                </a>
                            </li>
                            <li>
                                Pour toute demande d’accès, de rectification, de suppression, d’opposition au traitement de
                                vos données à caractère personnel, à la limitation du traitement ainsi que votre droit à la
                                portabilité de vos données :
                                <a href="" target="_blank">
                                    https://www.nehs-digital.com/formulaire-de-demande-rgpd-DIALYZONE/
                                </a>
                            </li>
                            <li>
                                Pour toute demande d’information commerciale ou partenariat :
                                <a href="mailto:contact@dialyzone.com" target="_blank">
                                    contact@dialyzone.com
                                </a><br> Directeur de la publication : Rajiv Louis GUILLOUX, Président ENOR.
                            </li>
                        </ul>
                        <p>
                            L'hébergement de ce site est assuré par la société HOSTINGER INTERNATIONAL LTD, dont le siège
                            social se situe 61 Lordou Vironos Street, 6023 Larnaca, Chypre, joignable par le moyen suivant : https://www.hostinger.fr/contact
                        </p>
                        <p>
                            L’Utilisateur est expressément invité à prendre connaissance desdits documents.
                        </p>
                        <p>
                            <strong>2. OBJET ET CHAMP D’APPLICATION DES CONDITIONS GENERALES D’UTILISATION </strong>
                        </p>
                        <p>
                            Les présentes Conditions Générales d’Utilisations ou CGU ont pour objet de définir les conditions 
                            d’utilisation de la Plateforme et des Services DIALYZONE par l’Utilisateur. 
                        </p>
                        <p>
                            L’Utilisateur peut accéder en ligne aux Services via la Plateforme afin de :
                        </p>
                        <ul>
                            <li>
                                rechercher et identifier un centre de dialyse inscrit sur l’Annuaire médical en ligne ;
                            </li>
                            <li>
                                programmer un rendez-vous sur le calendrier médical en ligne du centre de dialyse puis 
                                bénéficier d’un suivi de la programmation des rendez-vous.
                            </li>
                        </ul>
                        <p>
                            <strong>3. CAPACITE JURIDIQUE, ACCEPTATION ET OPPOSABILITE
                            </strong>
                        </p>
                        <p>
                            L’Utilisateur s’engage à prendre connaissance des présentes CGU avant d’utiliser les 
                            Services de la Plateforme, et disposer de toutes les compétences techniques nécessaires pour
                            y accéder et l’utiliser normalement dans le respect des CGU. 
                        </p>
                        <p>
                            L’Utilisateur déclare avoir obtenu toutes les informations nécessaires concernant les 
                            Services et adhère pleinement et sans réserve aux présentes CGU, qu’il s’engage à respecter.
                        </p>
                        <p>L’Utilisateur reconnaît disposer de la capacité juridique lui permettant de s’engager au titre
                            des présentes CGU. 
                        </p>
                        <p>
                            L’Utilisateur peut utiliser les Services au bénéfice de mineur(s) de moins de quinze ans ou
                            pour le compte de tiers vis-à-vis desquels il est titulaire de l’autorité parentale ou pour
                            lesquels il est reconnu tuteur ou curateur conformément au droit français. DIALYZONE se réserve
                            la possibilité de demander à l’Utilisateur tout justificatif de nature à établir l’autorité
                            parentale à l’égard du mineur bénéficiaire. 
                        </p>
                        <p>L’Utilisateur ne peut bénéficier des Services proposés sur la Plateforme que sous réserve de
                            l’acceptation des présentes CGU. Les CGU sont acceptées via une case à cocher par l’Utilisateur
                            sur la Plateforme, lors de la création de son compte Utilisateur. L’Utilisateur reconnaît et
                            accepte que son engagement ne nécessite pas de signature manuscrite ou électronique. 
                            Les CGU sont opposables dès leur acceptation par l’Utilisateur. 
                        </p>
                        <p>
                            DIALYZONE se réserve la faculté de modifier les présentes CGU dans les conditions précisées
                            à l’article « Modifications » des CGU.
                        </p>
                        <p>
                            <strong>4. MODALITES D’ACCES A LA PLATEFORME</strong>
                        </p>
                        <p>
                            <strong>4.2. Matériels et configurations prérequis</strong>
                        </p>
                        <p>Les Services requièrent la disponibilité d’une configuration internet suffisamment rapide 
                            ainsi que d’équipements et moyens matériels permettant d’accéder et de naviguer sur la 
                            Plateforme, à la charge et aux frais de l’Utilisateur.
                        </p>
                        <p>
                            DIALYZONE ne pourra être tenue responsable d’un mauvais fonctionnement des Services, ou des
                            conséquences découlant d’un dysfonctionnement ou d’un accès restreint ou dégradé à internet.
                        </p>
                        <p>
                            <strong>4.3. Accès à la Plateforme et création d’un compte Utilisateur</strong>
                        </p>
                        <p>
                            La Plateforme offre différents Services en ligne (Annuaire médical en ligne, Agenda médical en ligne).
                        </p>
                        <p>L’Utilisateur doit créer un compte sur la Plateforme pour utiliser les Services dans l’ensemble
                            de leurs fonctionnalités.
                        </p>
                        <p>
                            Lors de la création de son compte Utilisateur sur la Plateforme, l’Utilisateur est invité à
                            renseigner via un formulaire ses prénom, nom, adresse email et mot de passe, en appliquant
                            à son mot de passe toutes les précautions et mesure de sécurité requises. L'utilisateur devra 
                            également sous mettre des données plus approfondie sur ces ou ça pathologie(s) dans l'unique but 
                            de les communiquer au centre d'acueil. L’Utilisateur s’engage à fournir des informations véridiques,
                            exactes, loyales et non trompeuses, et à veiller à ce que les informations de son compte Utilisateur
                            sur la Plateforme, et dans le Télédossier le cas échéant, demeurent par la suite exactes et actualisées.
                        </p>
                        <p>
                            L’Utilisateur s’engage à saisir lesdites données sous son entière responsabilité, son contrôle
                            et sa direction et s’engage à ne pas usurper l’identité d’un tiers.
                        </p>
                        <p>
                            En tant que simple prestataire technique fournissant la Plateforme, DIALYZONE ne contrôle pas
                            l’exactitude des données communiquées par l’Utilisateur. DIALYZONE se réserve néanmoins le droit
                            de suspendre l’accès au compte de l’Utilisateur ou à des Services, dans les conditions prévues
                            à l’Article « Responsabilité » des CGU, dans le cas où l’Utilisateur aurait communiqué des données
                            fausses, inexactes, ou non mises à jour. 
                        </p>
                        <p>
                            <strong>4.4. Disponibilité</strong>
                        </p>
                        <p>
                            DIALYZONE fournit ses meilleurs efforts pour que les Services soient accessibles 24/24 heures,
                            7/7 jours, sous réserve des périodes de suspension, notamment pour des impératifs de maintenance.
                        </p>
                        <p>
                            Cependant, l’Utilisateur reconnait et accepte que les systèmes informatiques et de télécommunication
                            ne sont pas exempts de défauts et que des interruptions de service peuvent survenir occasionnellement.
                            En conséquence, l’accès aux Services peut être interrompu momentanément et sans préavis en cas de défaillance
                            du système ou du réseau, de maintenance, de réparation, de modifications ou changements sur les méthodes
                            opérationnelles, et pour tout autre motif indépendant ou non de la volonté de DIALYZONE. 
                        </p>
                        <p>
                            En cas d’interruption ou d’impossibilité d’utilisation des Services, l’Utilisateur peut s’adresser
                            à DIALYZONE pour obtenir des informations. 
                        </p>
                        <p>
                            <strong>4.4. Limites d’utilisation</strong>
                        </p>
                        <p>
                            L’accès aux Services est strictement réservé à l’Utilisateur qui bénéficie à ce titre d’un
                            droit d’usage privé personnel, non transmissible et exclusif. L’Utilisateur est seul responsable
                            de son accès aux Services.
                        </p>
                        <p>
                            Les Services ne doivent pas être utilisés de façon abusive et malveillante. Ainsi et de manière
                            générale, l’Utilisateur s’engage à utiliser les Services :
                        </p>
                        <ul>
                            <li>
                                dans le respect des lois, règlementations et droits des tiers, notamment les droits 
                                de propriété intellectuelle de DIALYZONE tels que définis à l’Article « Propriété Intellectuelle »
                                des CGU ; 
                            </li>
                            <li>
                                de manière loyale et conformément à leur destination ;
                            </li>
                            <li>
                                sous sa responsabilité exclusive.
                            </li>
                        </ul>
                        <p>
                            DIALYZONE se réserve le droit de suspendre l’accès au compte de l’Utilisateur ou à des Services,
                            dans les conditions prévues à l’Article « Responsabilité » des CGU, dans le cas où l’Utilisateur
                            en ferait un usage abusif ou malveillant.
                        </p>
                        <p>
                            <strong>4.5. Sécurité</strong>
                        </p>
                        <p>
                            DIALYZONE fait ses meilleurs efforts pour sécuriser la Plateforme au regard des risques
                            encourus et de la nature des données qui y sont traitées. En particulier, les Services sont
                            hébergés par un prestataire certifié hébergeur de données de santé conformément aux dispositions
                            du Code de la santé publique.
                        </p>
                        <p>
                            Il est interdit à l’Utilisateur d’accéder ou de se maintenir frauduleusement dans tout ou
                            partie de la Plateforme, de supprimer ou modifier les données contenues sur la Plateforme,
                            d’y introduire frauduleusement des données, d’altérer la Plateforme ou de perturber son bon
                            fonctionnement.
                        </p>
                        <p>
                            L’attention de l’Utilisateur est attirée sur le fait que son compte Utilisateur contient des
                            données susceptibles d’être qualifiées de données de santé, notamment s’agissant du Télédossier.
                            A ce titre, il est alerté sur la nécessité de prendre toutes les précautions pour sécuriser
                            ses données et veiller à ce qu’aucun tiers n’ait accès à son compte.
                        </p>
                        <p>
                            L’Utilisateur s’engage à accéder et utiliser la Plateforme, via une connexion ou un réseau
                            sécurisé. Il s’engage à prendre toutes les mesures appropriées de façon à protéger ses données
                            et matériels de la contamination par des virus ou autres formes d’attaques. Il est responsable
                            de la sécurité de ses données et de son réseau qu’il utilise à ses propres risques.
                        </p>
                        <p>
                            L’Utilisateur a conscience des risques inhérents à l’utilisation du réseau internet tels qu’un
                            éventuel détournement ; il en accepte les limites et les risques.
                        </p>
                        <p>
                            L’Utilisateur s’engage accéder et utiliser les Services en respectant les consignes de sécurité,
                            les règles de gestion des accès notamment les éléments d’authentification qu’il garde confidentiels.
                            Il s’engage à modifier ses mots de passe au moins à chaque fois qu’il suspecte une utilisation
                            frauduleuse de son compte.
                        </p>
                        <p>
                            L’Utilisateur s’engage à avertir immédiatement DIALYZONE de toute utilisation non autorisée 
                            de son mot de passe et de son identifiant de connexion (adresse email de l’Utilisateur), 
                            ou de toute connexion en violation de la sécurité de l’accès à son compte. 
                        </p>
                        <p>Au titre des obligations de sécurité ci-dessus définies, l’Utilisateur reconnait et accepte
                            que la responsabilité de DIALYZONE ne puisse être engagée notamment en cas d’intrusion, 
                            d’altération ou de détournement des données, de toute utilisation illicite ou préjudiciable 
                            à l’Utilisateur ou à un tiers du réseau. 
                        </p>
                        <p>
                            <strong>5. DESCRIPTION DES SERVICES</strong>
                        </p>
                        <p>
                            <strong>5.1. Rappels préalables</strong>
                        </p>
                        <p>
                            Il est rappelé que les Services permettent à l’Utilisateur de bénéficier :
                        </p>
                        <ul>
                            <li>
                                de l’Annuaire des centres de dialyse en ligne ;
                            </li>
                            <li>
                                de l’Agenda  des centres de dialyse en ligne.
                            </li>
                        </ul>
                        <p>
                            DIALYZONE se réserve le droit de compléter ou de modifier les Services à tout moment.
                        </p>
                        <p>Il est également rappelé à titre préalable, que DIALYZONE est un simple prestataire technique
                            dans le cadre de la mise à disposition des Services. L’utilisation des Services ne dilue,
                            ne modifie, ou n’atténue, ni directement ni indirectement, la responsabilité et les obligations
                            des centres de dialyse vis-à-vis de l’Utilisateur, chaque centre de dialyse exerçant
                            sa pratique professionnelle en toute indépendance, selon ses obligations légales et 
                            règlementaires personnelles et sous sa responsabilité exclusive. 
                        </p>
                        <p>
                            Les Services sont fournis à l’Utilisateur à titre gratuit.
                        </p>
                        <p>
                            <strong>5.2. Annuaire médical en ligne</strong>
                        </p>
                        <p>
                            L’Annuaire médical en ligne permet à l’Utilisateur, connecté ou non à son compte Utilisateur,
                            d’identifier des centres de dialyse inscrits sur la Plateforme sur la base de paramètres de
                            recherche préalablement saisis.
                        </p>
                        <p>
                            Il est précisé que :
                        </p>
                        <ul>
                            <li>
                                l’Annuaire des centres de dialyse en ligne ne contient pas tous les centres de dialyse
                                compétents et disponibles dans la spécialité et la zone géographique sélectionnées par 
                                l’Utilisateur, et qu’à ce titre, il appartient à l’Utilisateur, s’il le souhaite, 
                                d’utiliser tout autre moyen pour identifier d’autres centres de dialyse de son choix ;
                            </li>
                            <li>
                                l’Annuaire des centres de dialyse ne constitue pas un service d’orientation vers un ou 
                                plusieurs centre de dialyse, l’Utilisateur conservant le libre choix de son centre de dialyse ;
                            </li>
                            <li>
                                en aucun cas, DIALYZONE ne valide, ne sélectionne ni ne vérifie la compétence des centres
                                de dialyse inscrits sur la Plateforme ; 
                            </li>
                            <li>
                                l’utilisation des Services ne dilue, ne modifie, ou n’atténue, ni directement ni indirectement,
                                la responsabilité et les obligations des centres de dialyse vis-à-vis de l’Utilisateur, 
                                chaque centre de dialyse exerçant sa pratique professionnelle en toute indépendance,
                                selon ses obligations légales et règlementaires personnelles et sous sa responsabilité exclusive.
                            </li>
                        </ul>
                        <p>
                            <strong>5.3. Agenda médical en ligne</strong>
                        </p>
                        <p>
                            Après sélection d’un centre de dialyse, l’Agenda médical en ligne permet à l’Utilisateur de
                            prendre rendez-vous en ligne auprès du centre de dialyse qu’il a sélectionné puis de suivre
                            la programmation de son rendez-vous via la réception de messages électroniques adressés à
                            l’Utilisateur par le centre de dialyse.
                        </p>
                        <p>Il est précisé que :</p>
                        <ul>
                            <li>
                                l’Agenda médical en ligne présente les plages (jours et horaires) de disponibilité des
                                centres de dialyse dont ces derniers sont exclusivement responsables ; DIALYZONE dégage
                                toute responsabilité en cas d’indisponibilité du centre de dialyse ou d’annulation du
                                rendez-vous programmé ;
                            </li>
                            <li>
                                l’Utilisateur accepte de recevoir des messages électroniques pour les besoins du suivi
                                de la programmation et/ou de l’annulation de son rendez-vous auprès du centre de dialyse,
                                les centres de dialyse étant seuls responsables du contenu, de l’objet, du nombre et de
                                la périodicité des envois de messages électroniques à l’Utilisateur.
                            </li>
                            <li>
                                la programmation d’un rendez-vous par l’Utilisateur constitue un engagement ferme de sa
                                part ; toute non présentation de l’Utilisateur à un rendez-vous programmé doit faire
                                l’objet d’une information préalable d’annulation ou de report auprès du centre de dialyse
                                via le système d’annulation proposé par le Service ou par tout moyen de contact du centre
                                de dialyse; l’Utilisateur reconnait être informé qu’il assume exclusivement les conséquences
                                de sa non-présentation à un rendez-vous vis-à-vis du centre de dialyse concerné.
                            </li>
                        </ul>
                        <p>
                            <strong>6. RESPONSABILITE</strong>
                        </p>
                        <p>
                            <strong>6.1. Responsabilité de l’Utilisateur</strong>
                        </p>
                        <p>
                            De manière générale, l’Utilisateur reconnait que son utilisation des fonctionnalités de la
                            Plateforme, des Services, se fait sous son seul contrôle, sa direction, et sa responsabilité exclusive.
                        </p>
                        <p>
                            L’Utilisateur s’engage à utiliser la Plateforme, son compte personnel et les informations
                            auxquelles il aurait accès dans le respect des conditions d’utilisation des présentes CGU.
                        </p>
                        <p>
                            L’Utilisateur s’engage à utiliser les Services à des fins strictement personnelles ;
                            il s’interdit d’utiliser les Services à d’autres fins que leur destination définie aux présentes
                            CGU, et notamment il s’interdit de les utiliser à toute fin commerciale, professionnelle ou détournée.
                        </p>
                        <p>
                            Dans le cas où l’Utilisateur en ferait un usage contraire aux CGU, DIALYZONE se réserve le
                            droit de suspendre l’accès au compte de l’Utilisateur ou à des Services, de manière temporaire
                            ou définitive, sans préavis, mise en demeure ou indemnité de quelque nature que ce soit,
                            sur simple notification à l’Utilisateur via l’adresse email renseignée, ce que l’Utilisateur
                            accepte expressément.
                        </p>
                        <p>
                            <strong>6.2. Responsabilité de DIALYZONE</strong>
                        </p>
                        <p>
                            Il est rappelé à titre préalable, et l’Utilisateur reconnait que le rôle de DIALYZONE se
                            limite à celui d’un simple intermédiaire et prestataire technique dans le cadre de la mise
                            à disposition des Services. Il n’est en aucun cas en mesure de procéder à la vérification,
                            à la surveillance, à l’évaluation et/ou au contrôle des données saisies sur la Plateforme par
                            l’Utilisateur ou par le centre de dialyse qui restent sous leurs seuls responsabilités et
                            contrôles respectifs.
                        </p>
                        <p>
                            DIALYZONE est tenue à une simple obligation de moyens pour offrir à l’Utilisateur des informations
                            et une offre de service de qualité. Elle ne saurait être responsable de tout dommage direct
                            ou indirect résultant notamment :
                        </p>
                        <ul>
                            <li>
                                de l’utilisation des Services par l’Utilisateur qui relèvent de la seule responsabilité
                                des centres de dialyse choisis par l’Utilisateur ou de l’Utilisateur lui-même ;
                            </li>
                            <li>
                                des éventuelles difficultés notamment d’accès ou dysfonctionnement tels que mentionnés
                                à l’Article « Sécurité » des CGU ;
                            </li>
                            <li>
                                des développements mis à la disposition de l’Utilisateur sur la Plateforme mais dont
                                DIALYZONE n’est pas propriétaire ;
                            </li>
                            <li>
                                d’une inexécution ou de la mauvaise exécution des CGU imputables à l’Utilisateur.
                            </li>
                        </ul>
                        <p>
                            <strong>6.3. Responsabilité du centre de dialyse</strong>
                        </p>
                        <p>
                            De manière générale, l’Utilisateur reconnait que DIALYZONE n’est aucunement responsable de
                            l’utilisation des fonctionnalités de la Plateforme, des Services par le centre de dialyse
                            ou son Personnel Autorisé. Cette utilisation par le centre de dialyse se fait sous son contrôle,
                            sa direction, et sa responsabilité exclusifs.
                        </p>
                        <p>
                            <strong>7. PROPRIETE INTELLECTUELLE</strong>
                        </p>
                        <p>
                            Tous les éléments de la Plateforme et des Services, dans leurs versions actuelles ou futures,
                            sont, sauf information publique ou mention contraire, la propriété intellectuelle exclusive
                            de DIALYZONE.
                            </p>
                        <p>
                            A ce titre, toute représentation totale ou partielle de la Plateforme et des Services, et,
                            sans que cette liste soit limitative, toute adaptation, traduction, modification, non autorisée
                            expressément par DIALYZONE est interdite et constitue une contrefaçon sanctionnée conformément
                            aux dispositions du Code de la propriété intellectuelle.
                        </p>
                        <p>
                            Il en est de même, et sans que cette liste soit exhaustive, des bases de données, codes sources,
                            fonctionnalités, marques, logo, design figurant sur la Plateforme.
                        </p>
                        <p>
                            En tout état de cause, toute copie autorisée préalablement et expressément par DIALYZONE,
                            de tout ou partie du contenu de la Plateforme, devra porter la mention
                            « Tous droits réservés à DIALYZONE ».
                        </p>
                        <p>
                            Sous réserve de ce qui précède et du parfait respect des termes des CGU et dans la stricte limite
                            de ce qui est nécessaire à l’utilisation des Services et de la Plateforme par l’Utilisateur,
                            la Société concède à l’Utilisateur qui l’accepte, à titre gratuit, le droit révocable, non-cessible,
                            non-exclusif, non-transmissible, d’utiliser les Services et la Plateforme, dans le monde entier,
                            pour une utilisation personnelle.
                        </p>
                        <p>
                            L’utilisation des services par l’Utilisateur ne peut en aucun cas être interprétée comme une
                            cession de droits de propriété intellectuelle.
                        </p>
                        <p>
                            <strong>8. DONNEES PERSONNELLES &amp; COOKIES</strong>
                        </p>
                        <p>
                            L’Utilisateur consent au traitement de ses données personnelles dans les conditions décrites
                            dans la
                            <a href="notice-consentement" target="_blank">
                                Notice d’information relative au traitement de vos données personnelles
                            </a>
                            , ainsi que la
                            <a href="cookies" target="_blank">
                                Notice d’information sur les cookies
                            </a>
                            qui détaillent également les droits dont l’Utilisateur dispose à ce titre.
                        </p>
                        <p>
                            L’Utilisateur est expressément invité à prendre connaissance desdits documents.
                        </p>
                        <p>
                            <strong>9. MODIFICATIONS</strong>
                        </p>
                        <p>
                            DIALYZONE est libre de procéder à tout moment à des modifications des présentes
                            CGU, notamment afin de prendre en compte toute évolution légale, réglementaire,
                            jurisprudentielle et/ou technique. L’Utilisateur est informé par tout moyen dans un délai minimum
                            de trente (30) jours avant leur date de prise d’effet.
                        </p>
                        <p>
                            Les CGU en vigueur dans leur dernière version sont celles consultables via le
                            <a href="" target="_blank">lien</a> accessible depuis la Plateforme par l’Utilisateur qui le
                            reconnait expressément.
                        </p>
                        <p>
                            Pour éviter toute ambiguïté, le transfert des CGUau profit d’un tiers du choix de
                            DIALYZONE ne constitue pas une modification au sens du présent article.
                        </p>

                        <p>
                            <strong>10. RESILIATION</strong>
                        </p>
                        <p>
                            L’Utilisateur peut à tout moment résilier de son compte en contactant DIALYZONE.
                            A consulter <a href="" target="_blank">https://www.DIALYZONE.com/a-propos/notice-consentement</a>
                        </p>
                        <p>
                            Chaque Utilisateur reconnait être informé et accepte que DIALYZONE suspend son
                            compte immédiatement en cas de manquement à l’une quelconque des obligations décrites aux
                            CGU ou à la législation en vigueur.
                        </p>
                        <p>
                            <strong>11. STIPULATIONS DIVERSES</strong>
                        </p>
                        <p>
                            <strong>11.1. Sous-traitance et transfert</strong>
                        </p>
                        <p>
                            Les présentes CGU pourront faire l’objet d’une sous-traitance de la part de
                            DIALYZONE ou d’un transfert à toute entité qui viendrait aux droits et obligations
                            de DIALYZONE.
                        </p>
                        <p>
                            <strong>11.2. Force majeure</strong>
                        </p>
                        <p>
                            Dans un premier temps, les cas de force majeure suspendront l’exécution des présentes
                            CGU.
                        </p>
                        <p>
                            Sont considérés comme cas de force majeure ou cas fortuits, ceux habituellement retenus par la
                            jurisprudence des cours et tribunaux français.
                        </p>
                        <p>
                            <strong>11.3. Interprétation</strong>
                        </p>
                        <p>
                            En cas de difficultés d’interprétation d’une quelconque stipulation présente dans les
                            CGU, celle-ci sera déclarée inexistante.
                        </p>
                        <p>
                            <strong>11.4. Intégralité</strong>
                        </p>
                        <p>
                            Les présentes CGU, leur acceptation par l’Utilisateur, la
                            <a href="" target="_blank">
                                Notice d’information relative au traitement de vos données personnelles
                            </a>,
                            constituent l’intégralité de l’accord entre les parties.
                        </p>
                        <p>
                            <strong>11.5. Preuve</strong>
                        </p>
                        <p>
                            En sus des dispositions légales reconnaissant la valeur probante de l’écrit numérique,
                            l’Utilisateur reconnait la validité et la force probante des courriers électroniques, des
                            SMS, et des notifications effectuées par DIALYZONE.
                        </p>
                        <p>
                            La conservation et l’archivage des informations et des données sont effectués sur un support
                            fiable et durable conformément à l’article 1379 du Code Civil.
                        </p>
                        <p>
                            <strong>12. DROIT APPLICABLE</strong>
                        </p>
                        <p>
                            Les présentes CGU sont soumises au droit français et à la compétence des tribunaux
                            du ressort de la cour d’appel de Paris.
                        </p>
                        <p>
                            Lorsqu’il utilise les Services, l’Utilisateur étranger accepte expressément l’application de la
                            loi française.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
