 {% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <section class="hero-equal-height ptb-100" style="background: url('{{ asset('img/hero-13.jpg') }}')no-repeat center center / cover">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <div class="hero-content-wrap text-center text-dark-blue position-relative">
                            <img style="width: 45%" src="{{ asset('img/logo-dialyzone.png') }}" alt="logo">
                            <p class="lead">Trouvez un centre de dialyse pour consulter ses disponibilités</p>
                            <a href="" class="btn btn-primary" >
                                <span class="ti-search mr-2"></span> Recherche un centre
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-section ptb-50 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="feature-feature-list p-4 text-center">
                            <span class="ti-lock icon-sm d-block color-primary mb-3"></span>
                            <h5 class="mb-2">Données sécurisé</h5>
                            <p>Transmission sécurisée de vos informations au centre de dialyse de votre choix.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="feature-feature-list p-4 text-center">
                            <span class="ti-location-pin icon-sm d-block color-primary mb-3"></span>
                            <h5 class="mb-2">Toutes les informations</h5>
                            <p>Trouver un centre de dialyse ainsi que toutes les informations necessaire pour y accéder</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="feature-feature-list p-4 text-center">
                            <span class="ti-calendar icon-sm d-block color-primary mb-3"></span>
                            <h5 class="mb-2">Rendez-vous</h5>
                            <p>Prise de rendez-vous simplifier avec un suivi continu sur votre éspace personel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="call-to-action ptb-50 joinUs">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-9">
                    <div class="call-to-action-content text-white text-center">
                        <h2 class="text-white mb-4">Vous etes un centre de dialyse ?</h2>
                        <ul class="mb-4">
                            <li class="mb-3">
                                <span class="ti-arrow-circle-right icon-sm color-primary mr-2"></span>
                                <span>Simplification des procédures</span>
                            </li>
                            <li class="mb-3">
                                <span class="ti-arrow-circle-right icon-sm color-primary mr-2"></span>
                                <span>Meilleur visibilité</span>
                            </li>
                            <li class="mb-3">
                                <span class="ti-arrow-circle-right icon-sm color-primary mr-2"></span>
                                <span>Suivi rigoureux des équipes de Dialyzone</span>
                            </li>
                        </ul>
                        <div class="action-btns">
                            <a href="#" class="btn solid-white-btn mr-3">Contactez nouss</a>
                            <a href="#" class="btn outline-white-btn">Voir les avantages</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}


