<div class="content">
	@if(isLinkSend) {
	<div class="verif-mail-container">
		<div class="group">
			<img alt="waiting-time" width="56px" height="56px" src="/assets/pictos/waiting-time.svg" />

			<div class="texts-container">
				<h2 class="verify-mail">Vérifiez votre adresse mail</h2>
				<p class="confirm-mail">Pour réinitialiser votre mot de passe, cliquez sur le lien que nous vous avons
					envoyé</p>
			</div>
		</div>
	</div>
	} @else {
		<div class="container-forgot-password-form">
			<div class="go-back" (click)="goBack()">
				<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M9.2625 13.5078L3.5375 7.9998L9.2625 2.4918L7.5 0.799805L0 7.9998L7.5 15.1998L9.2625 13.5078Z"
						fill="#202224" />
				</svg>

			</div>
			<div class="title">
				<h2>Mot de passe oublié</h2>
			</div>
			<form [formGroup]="forgotPasswordForm">
				<div class="wrapper-forgot-password-form">
					<div class="row">
						<mat-form-field appearance="outline">
							<mat-label>Adresse Email</mat-label>
							<input matInput type="text" formControlName="email">
						</mat-form-field>
					</div>

					<div class="message-container">
						<p class="recevoir-lien">Recevez un lien de réinitilisation de votre mot de passe en complétant
							l'adresse Email liée à votre compte</p>
					</div>
				</div>

                @if (message != "") {
                    <div class="message">
                        <p>{{message}}</p>
                    </div>
                }

				<div class="btn-container">
                    @if (loading()) {
                        <mat-spinner class="mt-2" color="accent"></mat-spinner>
                    } @else {
                        @if (validForgotPassForm) {
                            <button class="custom-btn" (click)="sendForgotPasswordForm()">Réinitialiser mon mot de passe</button>
                        } @else {
                            <button class="custom-btn btn-disabled" [disabled]="true" >Réinitialiser mon mot de passe</button>
                        }
                    }
				</div>
			</form>
		</div>
	}
</div>
