<div class="container-confirm">
    <div class="wrapper-cross-btn">
        @if (!data.showCountdown) {
            <button class="cross-btn" (click)="cancel()">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24">
                    <path
                        d="M18,6h0a1,1,0,0,0-1.414,0L12,10.586,7.414,6A1,1,0,0,0,6,6H6A1,1,0,0,0,6,7.414L10.586,12,6,16.586A1,1,0,0,0,6,18H6a1,1,0,0,0,1.414,0L12,13.414,16.586,18A1,1,0,0,0,18,18h0a1,1,0,0,0,0-1.414L13.414,12,18,7.414A1,1,0,0,0,18,6Z" />
                </svg>
            </button>
        }
    </div>
    <div class="wrapper-svg">
        <svg width="39" height="40" viewBox="0 0 39 40" >
            <rect width="38.5573" height="40" fill="url(#pattern0_5883_10926)"/>
            <defs>
                <pattern id="pattern0_5883_10926" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use  transform="matrix(0.0020262 0 0 0.00195312 -0.0187085 0)"/>
                </pattern>
            </defs>
        </svg>
    </div>
    <div class="wrapper-title">
        <h3 mat-dialog-title class="title">{{ title }}</h3>
    </div>
    <div class="separator"></div>
    <mat-dialog-content>
        <div class="wrapper-msg">
            <p class="message">
                {{ message }}
                @if (underMessage){
                    <span class="underMessage">{{ underMessage }}</span>
                }
            </p>
        </div>
        @if (data.showCountdown) {
            <p class="countdown-message">
                Déconnexion automatique dans : <strong>{{ countdown }}</strong> secondes
            </p>
        }

    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="wrapper-cta">
            <button class="btn-main-outline cancel" mat-button mat-dialog-close
                    (click)="cancel()">{{ btnCancelText }}
            </button>
            <button class="btn custom-btn" mat-button mat-dialog-close
                    (click)="confirm()">{{ btnOkText }}
            </button>
        </div>
    </mat-dialog-actions>
</div>
