<div class="d-flex align-items-center gap-3">
    <div class="edit small">
        <span (click)="openEditDialog(this.user)">
            <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24">
                <path d="M1.172,19.119A4,4,0,0,0,0,21.947V24H2.053a4,4,0,0,0,2.828-1.172L18.224,9.485,14.515,5.776Z"/>
                <path
                    d="M23.145.855a2.622,2.622,0,0,0-3.71,0L15.929,4.362l3.709,3.709,3.507-3.506A2.622,2.622,0,0,0,23.145.855Z"/>
            </svg>
        </span>
    </div>
    <div class="notif-input">
        <label class="switch">
            <input 
                type="checkbox" 
                [checked]="params.valid" 
                (change)="onUserStatusChange($event, params.user)" 
                [disabled]="params.isLoading"
            >
            <span class="slider round"></span>
        </label>
        <span class="user_status">{{user_status}}</span>
    </div>
</div>
